*.smc
*.labels
*.dbg
*.o
*.mlb
*.out.s
*.out.fth
dataspace.dump
*.pal.out
*.tiles.out
*.tiles.fth
*.tiles2b.fth
*.sprites.fth
audio.inc
audio.bin
audio.s
*.tiled-session
*.map.csv
*.map.fth
farstars.png
